
@font-face {
    font-family: 'Fugas One';
    src: url('../ttf/FugasOne/FugazOne-Regular.ttf');
    font-weight: 400;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('../ttf/FiraMono/FiraMono-Regular.ttf');
    font-weight: 400;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('../ttf/FiraMono/FiraMono-Medium.ttf');
    font-weight: 500;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('../ttf/FiraMono/FiraMono-Bold.ttf');
    font-weight: 700;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../ttf/Roboto/Roboto-Thin.ttf');
    font-weight: 100;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../ttf/Roboto/Roboto-Light.ttf');
    font-weight: 300;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../ttf/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../ttf/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../ttf/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../ttf/Roboto/Roboto-Black.ttf');
    font-weight: 900;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../ttf/RobotoMono/RobotoMono-Thin.ttf');
    font-weight: 100;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../ttf/RobotoMono/RobotoMono-ExtraLight.ttf');
    font-weight: 200;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../ttf/RobotoMono/RobotoMono-Light.ttf');
    font-weight: 300;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../ttf/RobotoMono/RobotoMono-Regular.ttf');
    font-weight: 400;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../ttf/RobotoMono/RobotoMono-Medium.ttf');
    font-weight: 500;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../ttf/RobotoMono/RobotoMono-SemiBold.ttf');
    font-weight: 600;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../ttf/RobotoMono/RobotoMono-Bold.ttf');
    font-weight: 700;
    font-display: block;
    font-style: normal;
}
