
$backgroundColor: white;
$backgroundColorGray: #E2E4E5;

$primaryColor: #FFCC00;

$primaryText: #313131;
$primaryTextDark: #111111;
$primaryTextLight: #7F7F7F;
$secondaryText: #FAFAFA;

$borderColor: #E9E9E9;

$sliderBackgroundColor: #31313151;

$shadowColor: #111111;