@import "../../../assets/colors/color";

.slider-base {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;

    &-bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
    }

    &-container {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;

        &-bg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: transparent;
        }
    }

    &-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
    }

    &-component {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

}
