@import '../../../assets/colors/color';

.slider-view {
    box-sizing: border-box;
    width: 100%;
    padding-top: calc(100% * 0.5625);
    position: relative;
    overflow: hidden;

    &-container {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
    }

    &-chevron {
        width: 50px;
        height: 50px;
        fill: $backgroundColor;
        transition: fill 0.3s ease;
        $p: #{&};

        &-container {
            width: 60px;
            height: 60px;
            position: absolute;
            top: calc(100% / 2 - 30px);
            cursor: pointer;

            &:hover {
                #{$p} {
                    fill: $primaryColor;
                }
            }
        }
    }
}