
@import '../../../../assets/colors/color';

.slider-content-simple {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $secondaryText;
    font-family: Roboto;
    font-weight: 700;
    position: relative;

    &-title {
        width: 100%;
        text-align: center;
        font-size: 2.4vw;
        text-shadow: 2px 2px 2px $shadowColor;
        opacity: 0;
        margin-left: 10vw;
    }

    &-description {
        width: 100%;
        text-align: center;
        font-size: 5.2vw;
        margin: 6vw 0;
        text-shadow: 2px 2px 2px $shadowColor;
        opacity: 0;
        margin-left: 10vw;
    }

    &-button {
        text-align: center;
        color: $primaryTextDark;
        background-color: rgba($primaryColor, 0.75);
        font-size: 14px;
        border-radius: 4px;
        padding: 12px 32px;
        opacity: 0;
        margin-left: 10vw;
        cursor: pointer;

        &:hover {
            background-color: $primaryColor;
        }
        
    }
}